@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.row{
    margin: 0;
}
body{
    background: #dfe9ff;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
.header{
    background: #ffffff;
    box-shadow: 0 2px 10px rgb(171, 171, 171) ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    position: relative;
}
.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.header ul a{
    margin-right: 15px;
    font-weight: 600;
    color: #4b71ff;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.header ul a:hover{
    background-color: white;
    box-shadow: 0 2px 5px #777;
}
.header ul a li:last-child{
    margin-right: 0px;
}
.header a .logo{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 10px;
    background-color: #f7f7f7;
    padding: 10px;
    color: rgb(80, 80, 80);
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0 2px 4px #777;
    transition: all 0.3s ease-in-out;
}
.header a .logo:hover{
    transform: scale(1.04);
}
.header a .logo:active{
    transform: scale(0.94);
}
.header img{
    width: 40px;
}
.front{
    position: relative;
    z-index: 1;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}
.front img{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 300px;
    z-index: -1;
    opacity: 0.25;
    filter: drop-shadow(0 50px 2px rgb(179, 208, 255));
}
.front .details{
    max-width: 600px;
    float: left;
}
.front .details h2{
    color: #00106a;
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: 700;
}
.front .details p{
    color: #00106a;
    font-size: 18px;
    line-height: 1.70;
}
.front a{
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 40px;
    padding: 10px 20px;
    background: #4b71ff;
    color: #fff;
    box-shadow: 0 4px 10px #aaa;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}
.front a:hover{
    box-shadow: 0 5px 15px #777;
}
.card{
    padding: 16px 24px;
    background: #fff;
    height: 100%;
    position: relative;
    border: none;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .15);
    border: 2px solid transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}
.card h3.card-title{
    font-weight: 700;
    font-size: 1.3rem;
    color: #00106a;
}
.card p{
    color: #989dc5;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 72px;
}
.card .card-link{
    position: absolute;
    bottom: 18px;
}
.card:hover{
    transform: scale(1.04);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .15);
    cursor: pointer;
}
.card .card-icon{
    width:60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(171, 171, 171) ;
}
footer{
    background: #00106a;
    margin-top: 40px;
    padding: 20px 10px;
    color: #eee;
}
.footer-social-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  .copyright-text p {
    margin: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #ddd;
    font-weight: 600;
  }
  .copyright-text p a{
    color: #79b0ff;
    font-family: 700;
  }
  .copyright-text p a{
    color: #79b0ff;
    font-family: 700;
  }
  .facebook-bg{
    background: #3B5998;
  }
  .twitter-bg{
    background: #55ACEE;
  }
  .google-bg{
    background: #DD4B39;
  }
  .facebook-bg:hover{
    background: #2b457f;
  }
  .twitter-bg:hover{
    background: #4599da;
  }
  .google-bg:hover{
    background: #c6402f;
  }

/* ------- */

  @media (min-width: 768px){
    .front{
        height: 450px;
        margin-bottom: 32px;
    }
    .front img{
        display: inherit;
        height: 400px;
        top: 0px;
        opacity: 0.5;
    }
}
@media (min-width: 1000px){
    .front img{
        height: 500px;
        top: -50px;
        opacity: 1;
   }
}
@media only screen and (max-width: 550px) {
    .header ul a{
        margin-right: 0px;
    }
    .header a .logo{
        font-size: 0%;
    }
    .header img{
        width: 40px;
    }
    .front .details h2{
        color: #00106a;
        font-size: 30px;
        letter-spacing: 1px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    .front .details p{
        color: #00106a;
        font-size: 16px;
        line-height: 1.70;
    }
    .front a{
        margin-top: 20px;
        margin-right: 10px;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 600;
    }
}





::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track{
    background: transparent;
  }
  ::-webkit-scrollbar-thumb{
    background: #4b71ff;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #dd8100;
  }